jina==3.15.1.dev14
docarray==0.21.0
openai==0.27.5
pytest
aiohttp>=3.12.14 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.49.1 # not directly required, pinned by Snyk to avoid a vulnerability